@import "tailwindcss";
@import "uniwind";

@import "tw-animate-css";

@theme {

}

@layer theme {
  :root {

    @variant light {
      --color-background: oklch(0.973 0.0133 286.1503);
      --color-foreground: oklch(0.3015 0.0572 282.4176);
      --color-card: oklch(1 0 0);
      --color-card-foreground: oklch(0.3015 0.0572 282.4176);
      --color-popover: oklch(1 0 0);
      --color-popover-foreground: oklch(0.3015 0.0572 282.4176);
      --color-primary: oklch(0.5417 0.179 288.0332);
      --color-primary-foreground: oklch(1 0 0);
      --color-secondary: oklch(0.9174 0.0435 292.6901);
      --color-secondary-foreground: oklch(0.4143 0.1039 288.1742);
      --color-muted: oklch(0.958 0.0133 286.1454);
      --color-muted-foreground: oklch(0.5426 0.0465 284.7435);
      --color-accent: oklch(0.9221 0.0373 262.141);
      --color-accent-foreground: oklch(0.3015 0.0572 282.4176);
      --color-destructive: oklch(0.6861 0.2061 14.9941);
      --color-destructive-foreground: oklch(1 0 0);
      --color-border: oklch(0.9115 0.0216 285.9625);
      --color-input: oklch(0.9115 0.0216 285.9625);
      --color-ring: oklch(0.5417 0.179 288.0332);
      --color-chart-1: oklch(0.5417 0.179 288.0332);
      --color-chart-2: oklch(0.7042 0.1602 288.988);
      --color-chart-3: oklch(0.5679 0.2113 276.7065);
      --color-chart-4: oklch(0.6356 0.1922 281.8054);
      --color-chart-5: oklch(0.4509 0.1758 279.3838);
      --color-sidebar: oklch(0.958 0.0133 286.1454);
      --color-sidebar-foreground: oklch(0.3015 0.0572 282.4176);
      --color-sidebar-primary: oklch(0.5417 0.179 288.0332);
      --color-sidebar-primary-foreground: oklch(1 0 0);
      --color-sidebar-accent: oklch(0.9221 0.0373 262.141);
      --color-sidebar-accent-foreground: oklch(0.3015 0.0572 282.4176);
      --color-sidebar-border: oklch(0.9115 0.0216 285.9625);
      --color-sidebar-ring: oklch(0.5417 0.179 288.0332);
         --radius: 0.5rem;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --font-mono: JetBrains Mono, monospace;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --shadow-color: hsl(240 30% 25%);
    --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm:
      0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow:
      0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md:
      0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg:
      0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl:
      0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.3);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
    }

    @variant dark {
      --color-background: oklch(0.1743 0.0227 283.7998);
      --color-foreground: oklch(0.9185 0.0257 285.8834);
      --color-card: oklch(0.2284 0.0384 282.9324);
      --color-card-foreground: oklch(0.9185 0.0257 285.8834);
      --color-popover: oklch(0.2284 0.0384 282.9324);
      --color-popover-foreground: oklch(0.9185 0.0257 285.8834);
      --color-primary: oklch(0.7162 0.1597 290.3962);
      --color-primary-foreground: oklch(0.1743 0.0227 283.7998);
      --color-secondary: oklch(0.3139 0.0736 283.4591);
      --color-secondary-foreground: oklch(0.8367 0.0849 285.9111);
      --color-muted: oklch(0.271 0.0621 281.4377);
      --color-muted-foreground: oklch(0.7166 0.0462 285.1741);
      --color-accent: oklch(0.3354 0.0828 280.9705);
      --color-accent-foreground: oklch(0.9185 0.0257 285.8834);
      --color-destructive: oklch(0.6861 0.2061 14.9941);
      --color-destructive-foreground: oklch(1 0 0);
      --color-border: oklch(0.3261 0.0597 282.5832);
      --color-input: oklch(0.3261 0.0597 282.5832);
      --color-ring: oklch(0.7162 0.1597 290.3962);
      --color-chart-1: oklch(0.7162 0.1597 290.3962);
      --color-chart-2: oklch(0.6382 0.1047 274.9117);
      --color-chart-3: oklch(0.7482 0.1235 244.7492);
      --color-chart-4: oklch(0.7124 0.0977 186.6761);
      --color-chart-5: oklch(0.7546 0.1831 346.8124);
      --color-sidebar: oklch(0.2284 0.0384 282.9324);
      --color-sidebar-foreground: oklch(0.9185 0.0257 285.8834);
      --color-sidebar-primary: oklch(0.7162 0.1597 290.3962);
      --color-sidebar-primary-foreground: oklch(0.1743 0.0227 283.7998);
      --color-sidebar-accent: oklch(0.3354 0.0828 280.9705);
      --color-sidebar-accent-foreground: oklch(0.9185 0.0257 285.8834);
      --color-sidebar-border: oklch(0.3261 0.0597 282.5832);
      --color-sidebar-ring: oklch(0.7162 0.1597 290.3962);
         --radius: 0.5rem;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --font-mono: JetBrains Mono, monospace;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --shadow-color: hsl(240 30% 25%);
    --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm:
      0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow:
      0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md:
      0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg:
      0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl:
      0px 4px 10px 0px hsl(240 30% 25% / 0.12),
      0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.3);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
    }
  }
}
